<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asap.tipcalculator"
    android:versionCode="7"
    android:versionName="7.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application        
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name="com.asap.tipcalculator.MainActivity"
            android:label="@string/app_name"            
        	android:theme="@android:style/Theme.DeviceDefault" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.asap.tipcalculator.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>